body{
  margin: 0;
  padding: 0;
  background: url(https://raw.githubusercontent.com/NohaEldebawy/Syndicated-Studio/main/Screenshot%202022-06-23%20151826.png);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
